<footer class="footer_area clearfix">
    <div class="container">
        <div class="row align-items-center">
            <!-- Single Widget Area -->
            <div class="col-12 col-lg-4">
                <div class="single_widget_area">
                    <!-- Logo -->
                    <!-- Copywrite Text -->
                    <p class="copywrite">
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script> <i class="fa fa-heart-o" aria-hidden="true"></i> by  francntt@gmail.com
                    </p>
                </div>
            </div>
            <!-- Single Widget Area -->
        </div>
    </div>
</footer>
