@{
    ViewBag.Title = "Index";
    Layout = null;
    var email = (string)ViewBag.Email;
}
<form class="user">
    <div class="form-group">
        <input type="email" class="form-control form-control-user" id="rEmail" name="rEmail" placeholder="Email" value="@email" readonly>
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user" id="rPassword" name="rPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" class="form-control form-control-user" id="rConfirmPassword" name="rConfirmPassword" placeholder="ConfirmPassword">
    </div>
    
    <a href="#" class="btn btn-primary btn-user btn-block" id="reset-password-user">
        Reset
    </a>
</form>
