@model IEnumerable<TBSLogistics.WebApp.Models.AspNetRole>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Roles</h6>
        
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Role
                        </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var role in Model)
                    {
                        <tr>
                            <td class="py-1">
                                @role.Id
                            </td>
                            <td>
                                @role.Name
                            </td>
                      
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



