<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
        <i class="fas fa-laugh-wink"></i>
    </div>
    <div class="sidebar-brand-text mx-3">WebShop<sup>*</sup></div>
</a>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Management
</div>
<li class="nav-item">
    <a class="nav-link" href="/Admin/Order">
        <i class="fas fa-fw fa-cog"></i>
        <span>Order</span>
    </a>
</li>
<hr class="sidebar-divider">
<li class="nav-item">
    <a class="nav-link" href="/Admin/Category">
        <i class="fas fa-fw fa-wrench"></i>
        <span>Category</span>
    </a>
</li>
<hr class="sidebar-divider">
<li class="nav-item">
    <a class="nav-link" href="/Admin/Product">
        <i class="fas fa-fw fa-folder"></i>
        <span>Product</span>
    </a>
</li>
<hr class="sidebar-divider">
<li class="nav-item">
    <a class="nav-link" href="/Admin/User">
        <i class="fas fa-fw fa-user"></i>
        <span>User</span>
    </a>
    <a class="nav-link" href="/Admin/Role">
        <i class="fas fa-fw fa-user"></i>
        <span>Role</span>
    </a>
</li>
<!-- Divider -->
<hr class="sidebar-divider d-none d-md-block">

<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
</div>
